<div class="bg-light h-100">
    <div class="container d-flex flex-column justify-content-center h-100">
        <div class="card border-0 shadow col-6 align-self-center">
            <div class="card-header px-md-4 py-3 bg-primary text-white">
                <h1 class="cart-title h4 mb-0">{{ title() }}</h1>
            </div>
            <div class="card-body py-4 px-md-4">
                <form (ngSubmit)="emitSubmit()" class="d-flex flex-column">
                    <ng-content></ng-content>
                    <button type="submit" class="btn btn-primary mb-4" style="--bs-btn-padding-x: 1.8rem;">
                        {{ buttonText() }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>