<div class="container">
    <div class="row">
        <div class="col py-5">
            <div class="row">
                <div class="col">
                    <img src="img/products/coca-lata.webp" alt="Coca lata" class="img-fluid">
                </div>
                <div class="col">
                    <section id="product info">
                        <div class="card fs-5 mb-4">
                            <div class="card-header bg-primary text-white fw-bold">
                                CÓDIGO DE BARRAS
                            </div>
                            <div class="card-body text-end fw-bold">
                                <span>R$ 100,00</span>
                            </div>
                        </div>
                        <div class="card fs-5 mb-4">
                            <div class="card-header bg-primary text-white fw-bold">
                                VALOR UNITÁRIO
                            </div>
                            <div class="card-body text-end fw-bold">
                                <span>R$ 100,00</span>
                            </div>
                        </div>
                        <div class="card fs-5 mb-4">
                            <div class="card-header bg-primary text-white fw-bold">
                                QUANTIDADE
                            </div>
                            <div class="card-body text-end fw-bold">
                                <span>2</span>
                            </div>
                        </div>
                        <div class="card fs-5 mb-4">
                            <div class="card-header bg-primary text-white fw-bold">
                                TOTAL DO ITEM
                            </div>
                            <div class="card-body text-end fw-bold">
                                <span>R$ 200,00</span>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>

        <div class="col py-5 d-grid gap-4">
            <section id="products-list">
                <div class="card h-100">
                    <div class="card-header bg-primary text-white fw-bold fs-5">
                        LISTA DE PRODUTOS
                    </div>
                    <div class="card-body overflow-auto">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Valor Unitário</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>2365424587956</td>
                                    <td>Coca</td>
                                    <td>2</td>
                                    <td>R$ 10</td>
                                    <td>R$ 20</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>2365424587956</td>
                                    <td>Coca</td>
                                    <td>2</td>
                                    <td>R$ 10</td>
                                    <td>R$ 20</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>2365424587956</td>
                                    <td>Coca</td>
                                    <td>2</td>
                                    <td>R$ 10</td>
                                    <td>R$ 20</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section id="values">
                <div class="d-grid gap-4">
                    <div class="card fs-5">
                        <div class="card-header bg-primary text-white fw-bold">
                            SUBTOTAL
                        </div>
                        <div class="card-body text-end fw-bold">
                            <span>R$ 100,00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card fs-5">
                                <div class="card-header bg-primary text-white fw-bold">
                                    TOTAL RECEBIDO
                                </div>
                                <div class="card-body text-end fw-bold">
                                    <span>R$ 100,00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card fs-5">
                                <div class="card-header bg-primary text-white fw-bold">
                                    TROCO
                                </div>
                                <div class="card-body text-end fw-bold">
                                    <span>R$ 100,00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>