<div class="container">
    <div class="row">
        <div class="col py-5">
            <div class="row">
                <div class="col">
                    <img src="img/products/coca-lata.webp" alt="Coca lata" class="img-fluid">
                </div>
                <div class="col">
                    <section id="product info">
                        <div class="card fs-5 mb-4">
                            <div class="card-header bg-primary text-white fw-bold">
                                CÓDIGO DE BARRAS
                            </div>
                            <div class="card-body text-end fw-bold">
                                <span>R$ 100,00</span>
                            </div>
                        </div>
                        <div class="card fs-5 mb-4">
                            <div class="card-header bg-primary text-white fw-bold">
                                VALOR UNITÁRIO
                            </div>
                            <div class="card-body text-end fw-bold">
                                <span>R$ 100,00</span>
                            </div>
                        </div>
                        <div class="card fs-5 mb-4">
                            <div class="card-header bg-primary text-white fw-bold">
                                TOTAL DO ITEM
                            </div>
                            <div class="card-body text-end fw-bold">
                                <span>R$ 100,00</span>
                            </div>
                        </div>
                    </section>
    
                </div>
            </div>
        </div>

        <div class="col py-5 d-grid gap-4">
            <section id="products list">
                <div class="card">
                    <div class="card-header bg-primary text-white fs-6 fw-bold text-center">
                        LISTA DE PRODUTOS
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Preco</th>
                                    <th scope="col">Fabricante</th>
                                </tr>
                            </thead>
                            <tbody role="button">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>102ada02</td>
                                    <td>Coca</td>
                                    <td>Refri</td>
                                    <td>R$ 10</td>
                                    <td>Mundao</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>102ada02</td>
                                    <td>Pepsi</td>
                                    <td>Refri</td>
                                    <td>R$ 10</td>
                                    <td>Mundao</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>102ada02</td>
                                    <td>Guarana</td>
                                    <td>Refri</td>
                                    <td>R$ 10</td>
                                    <td>Mundao</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section id="values">
                <div class="d-grid gap-4">
                    <div class="card fs-5">
                        <div class="card-header bg-primary text-white fw-bold">
                            SUBTOTAL
                        </div>
                        <div class="card-body text-end fw-bold">
                            <span>R$ 100,00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card fs-5">
                                <div class="card-header bg-primary text-white fw-bold">
                                    TOTAL RECEBIDO
                                </div>
                                <div class="card-body text-end fw-bold">
                                    <span>R$ 100,00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card fs-5">
                                <div class="card-header bg-primary text-white fw-bold">
                                    TROCO
                                </div>
                                <div class="card-body text-end fw-bold">
                                    <span>R$ 100,00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>