<section id="actions" class="pt-5">
    <div class="container">
        <button type="button" class="btn btn-primary mb-4" style="--bs-btn-padding-x: 1.8rem;" routerLink="/cadastrar-produto">
            Cadastrar Produto
        </button>
    </div>
</section>

<section id="products list" class="py-5">
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Código</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            <tbody role="button">
                @for (product of products; track product.id) {
                    <tr routerLink="/produto/{{ product.id }}">
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.descricao }}</td>
                        <td>{{ product.codigo }}</td>
                        <td>R$ {{ product.precoUnitario }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>