<!-- Services Section -->
<section id="services" class="py-5 h-100 bg-light">
    <div class="container">
        <h2 class="text-center">Serviços</h2>
        <div class="row text-center mt-4">
            <div class="col">
                <div role="button" routerLink="/pdv" class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">PDV</h5>
                        <p class="card-text">Ponto de Venda</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div role="button" routerLink="/produtos" class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">Lista de Produtos</h5>
                        <p class="card-text">Gerenciar o cadastro de produtos</p>
                    </div>
                </div>
            </div>
            @if (userIsAdmin) {
            <div class="col">
                <div role="button" routerLink="/usuarios" class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">Lista de usuários</h5>
                        <p class="card-text">Gerenciar o cadastro de usuários</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>