<app-form title="Cadastrar Produto" buttonText="Cadastrar" [formGroup]="addProductForm" (submit)="onSubmit()">
    <div class="form-outline mb-4">
        <label class="form-label" for="name">Nome</label>
        <input type="text" name="name" class="form-control" formControlName="name" required />

        <!-- @if (formService.isInvalid(username!)) {
        <div class="invalid-feedback">
            Campo obrigatório.
        </div>
        } -->

    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="code">Código</label>
        <input type="text" name="code" class="form-control" formControlName="code" required />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="category">Categoria</label>
        <input type="text" name="category" class="form-control" formControlName="category" required />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="price">Preço</label>
        <input type="text" name="price" class="form-control" formControlName="price" required />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="manufacturer">Fabricante</label>
        <input type="text" name="manufacturer" class="form-control" formControlName="manufacturer" required />
    </div>

</app-form>