<app-form title="Cadastrar Produto" buttonText="Cadastrar" [formGroup]="addProductForm" (submit)="onSubmit()">
    <div class="form-outline mb-4">
        <label class="form-label" for="description">Nome</label>
        <input type="text" name="description" class="form-control" formControlName="description" required />

        <!-- @if (formService.isInvalid(username!)) {
        <div class="invalid-feedback">
            Campo obrigatório.
        </div>
        } -->

    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="code">Código</label>
        <input type="text" name="code" class="form-control" formControlName="code" required />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="price">Preço</label>
        <input type="text" name="price" class="form-control" formControlName="price" required />
    </div>

    @if (addProductFailed) {
    <div class="invalid-feedback d-block mb-2">
        Erro ao cadastrar produto.
    </div>
    }
</app-form>