<app-form title="Produto" [imgSrc]="imagePreview" buttonText="Editar" [formGroup]="editProductForm" (submit)="onSubmit()">
    <div class="form-outline mb-4">
        <label class="form-label" for="description">Descrição</label>
        <input type="text" name="description" class="form-control" formControlName="description" required />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="code">Código</label>
        <input type="text" name="code" class="form-control" formControlName="code" required />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="price">Preço</label>
        <input type="text" name="price" class="form-control" formControlName="price" required />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="namePath">Trocar Imagem</label>
        <input type="file" name="imagePath" class="form-control" (change)="onFileSelected($event)" />
    </div>

    @if (editProductFailed) {
    <div class="invalid-feedback d-block mb-2">
        Erro ao editar produto.
    </div>
    }
</app-form>